@model IEnumerable<Labyrinth.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Leader board</h2>

<table class="table table-hover">
    <tr class="trcolor">
        <th>
            Place
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
    </tr>
    @{
        int counter = 1;
    }
    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
           
        </tr>
        counter = counter + 1;
    }

</table>

