@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Game created by Budu Paul and Major Andrea using TiledMap, MelonJS and C#.
</p>

<p>
    For more information contact andreamajor96.am@gmail.com or budupaul@yahoo.com   
</p>
